@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

body {
  @apply px-2 md:px-3 lg:px-4 xl:px-5 bg-slate-50;
}

.slick-slide > div {
  height: 100%;
}

.slick-track {
  display: flex;
}


/* 

colors
body-bg = bg-slate-50
   [#a91f64]  [#8a1b54]
   white 
*/