@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

* {
  scroll-behavior: smooth;
}

body {
  @apply px-2 md:px-3 lg:px-4 xl:px-5 bg-slate-50;
}


/* 

colors
body-bg = bg-slate-50
   [#a91f64]  [#8a1b54]
   white 
*/